.card {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  background-color: #cfd7c7;
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-title {
  font-size: 1.2rem;
  text-shadow: 1px 1px #d8d7d7;
}

.card-btn {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #3a3a3a;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.card-text {
  color: #0b2027;
}

.card-title {
  color: #0b2027;
  margin-top: 4px;
  text-decoration: underline;
}

.card:hover {
  transition: 0.2s;
  max-width: 310px;
  cursor: pointer;
}
