.nav-link {
  color: #cfd7c7;
}

.nav-link:hover {
  color: #f6f1d1;
  font-weight: bold;
  transition: all 0.2s ease;
}

.navbar {
  background-color: #0b2027de;
}

.navbar-toggler {
  background-color: #40798c;
}

.navbar-toggler-icon {
  background-color: #213f49bd;
}
