@import "sectionvidriera";
@import "navbar";
@import "cardindex";
@import "sectioncontacto";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b2027;
  color: whitesmoke;
}

#vidrieras {
  text-decoration: none;
}
